:root {
  --main-color: #f0edff;
  --second-color: #bbb8c9;
  --text-color: #f0edff;
  --other-color: #9390a0;
}

body {
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  background-color: black;
  background-image: url(assets/images/nfl.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

}
