@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  list-style: none;
}

header {
  position: fixed;
  top: -0.4rem;
  left: 0;
  width: 100%;
  padding: 1rem 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  overflow: hidden;
  z-index: 9999;
}

.logo {
  font-size: 1.5rem;
  color: var(--main-color);
  background: transparent;
  user-select: none;
  font-weight: 500;
}

.logo span {
  position: relative;
  background: transparent;
  color: var(--second-color);
  font-size: 1.4rem;
}

.navigation {
  background: transparent;
}

.navigation a {
  position: relative;
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  margin-left: 2rem;
  background: transparent;
}

.navigation a::before {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0.1rem;
  width: 100%;
  height: 0.1rem;
  background: var(--text-color);
  border-radius: 0.3rem;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navigation a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.9rem 7%;
  background: transparent;
  z-index: 99;
}

.footer-text,
.footer-logo {
  position: relative;
  background: transparent;
}

.footer-text p {
  font-size: 0.9rem;
  color: var(--text-color);
  background: transparent;
}

.footer-logo span {
  color: var(--text-color);
  font-size: 1.1rem;
  background: transparent;
}

@media (max-width: 1080px) {
  header {
    padding: 1rem 5%;
  }

  .footer {
    padding: 0.9rem 5%;
  }
}

@media (max-width: 500px) {
  .logo,
  .logo span {
    font-size: 1.2rem;
  }

  header {
    padding: .7rem 5%;
  }

  .footer p {
    font-size: 0.7rem;
  }

  .footer span {
    font-size: 0.9rem;
  }

  .navigation a {
    font-size: 0.9rem;
  }

  .footer {
    padding-bottom: 0.2rem;
  }
}
