:root {
    --color-today: #03A6CE;
    --color-sheduled: #2D26EF;
    --color-all:#8747FE;
    --color-all-darker: rgb(55, 65,81);
    --color-flagged: #088FFE; 


    -moz-tab-size: 4;
    tab-size: 4;
    
}


*,
*::before,
*::after {
	box-sizing: border-box;
}

body { 
    color: rgb(238, 230, 230);
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif ;

    min-height: 100vh;

    background-image: linear-gradient(
        to right ,
        rgb(248, 113, 133),
        rgb(84, 112, 214)
    );

    display: flex;
    justify-content: center;
    align-items: center;

}
.app {
    width: 50rem;
    height: 34rem;

    border: 1px solid rgb(69, 46, 46);
    background-color: rgb(31, 41, 55);
    border-radius: .75rem;

    display: flex;
    flex-direction: row;

    overflow: hidden;
}
 
aside, main {
    padding: 1.25rem;
}