main {
    background: var(--bg--secondary );
    padding: clamp(4rem, 3vw, 10rem) 0;
    position: relative;

}

.features { 
    margin-bottom: clamp(4rem, 3vw,  10rem);
}
.features h2 {
    color: var(--cl-accent);
    text-shadow: 2px 2px 0 black;
}
.features h3 {
    text-shadow: 1px 1px 0 black; 
}

.features:not(.wishlist) .content {
    position: relative;
    bottom: 2rem;
}

/* Responsive */

@media screen and ( min-width: 810px ) {
    .features {
        display: flex;
        align-items: center;
        gap: 3vw;
        padding: 1rem 0;
        border-right: .65rem solid var(--cl-accent);
     }

.features:nth-child(even) {
    flex-direction: row-reverse;
    border-left: .65rem solid var(--cl-accent );
    border-right: none;
}

.features figure {
    flex: 7;
}
.features .content {
    flex: 3;
    padding: 0 2rem;
}
.features:not(.wishlist) .content {
    position: static;
}


}