<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Layout</title>
	<link rel="stylesheet" href="layout.css">
</head>
<body>

 
	<div id="main" class="group">
		<section>
			<img class="imgh" src="image-3.jpg">
			<h1>Haute Halloween</h1>
			<p>Cupcake ipsum dolor sit amet. Fruitcake pudding jelly-o jelly cotton candy jujubes. Cupcake lemon drops chupa chups ice cream pudding wafer jelly-o donut cheesecake. Sesame snaps sweet carrot cake cake soufflé donut.
			</p>
			<a class="nails1" href="#">Book and Manicure&nbsp;&nbsp;&nbsp;> </a>
			<img class="imgh" src="image-4.jpg">
			<h1>The Moder French Manicure</h1>
			<p>Cupcake ipsum dolor sit amet chocolate cake pastry dessert. Sweet jujubes bear claw cupcake candy cupcake jelly oat cake chocolate cake. Jelly croissant toffee marzipan topping cake soufflé gummi bears. </p>
			<a class="nails2" href="#">Read More on the Blog&nbsp;&nbsp;&nbsp;> </a>
		</section>
		<aside>
			<p class="nails">Nails of New york</p>
			<h1 class="nad">Ashley Jones</h1>
			<img class="img" src="thumb-2.jpg">
			<p>Cupcake ipsum dolor sit amet jelly dessert liquorice ice cream. Lemon drops apple pie chocolate cake pastry carrot cake. Fruitcake donut jelly soufflé jujubes icing marshmallow tart caramels.
			</p>
			<a  class="nails3" href="#">See More on the Blog&nbsp;&nbsp;> </a>
			<h1>Want More ?</h1>
			<p class="text">Sign up for the Paintbox mailing list Newslater</p>
			<a class="nails2" href="#">Sign up for the Paintbox mailing list &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;>  </a>
			</aside>
	</div>

</body>
</html>