.main {
    position: relative;
   color: var(--text-color);
   position: relative;
   display: flex;
   flex-direction: column;
}

.position {
    color: var(--second-color);
    text-transform: capitalize;
    margin-bottom: .15rem;
    font-size: 1.125rem;
}

.fullname {
    cursor: pointer;
}