/* general */
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/* clearfix */
.group:before,
.group:after { content: " "; display: table; }
.group:after { clear: both; }

body {
	font: 20px Rockwell, "Courier Bold", Georgia, serif;
	font-weight: bold;
	background: #f7f6d3;
	padding: 1em;
	-webkit-font-smoothing: antialiased;
}

body, a {
	color: #fff;
}

ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

nav, article, aside {
	 /* padding 1.2 em 24px  */
	border-radius: .5em;
	float: left;
	min-height: 240px;
	
}

nav     { background: #f6be00; }
article { background: #e64134; }
aside   { background: #eb70b1; }

main {
	max-width: 1024px; /* 1024 */
	margin: 0 auto;
}

nav {
	width: 20.0195312%; /* 205 /1024 */
}
nav ul {
	padding: 11.7073171%;
}

article {
	width: 50.6835938%; /* 519/ 1024 */ 
	margin: 0 0.19267823%; /* 10 */
}
article p {
		padding: 4.62427746%;
}

aside {
	width: 27.34375%; /* 280 / 1024 */
}
aside p {
	padding: 8.57142857%;
}